@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #231e36;
}

html {
  font-family: "Poppins", sans-serif;
}

.app {
  background-color: #231e36;
  color: #fafafa;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  color: #fafafa;
}

.Login {
  min-height: 100vh;
}

.Events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.MuiFormLabel-root {
  color: "white" !important;
}

@media screen and (max-width: 768px) {
  .Events {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .Events {
    grid-template-columns: repeat(1, 1fr);
  }
}
